image: node:20

pages:
  stage: deploy
  script:
    - cd app
    - npm ci
    - npm run build
    - mkdir -p ../public
    - cp -r dist/* ../public/
  artifacts:
    paths:
      - public
  only:
    - main
